.header1{
    text-align: left;
    /*margin-left: 12%;*/
}
.header2{
    margin-left: 3%;
}
.body{
    text-align: left;
    margin-bottom: 3%;
}
.body2{
    margin-left: 5%;
}
.line{
    border-top: 2px solid rgba(0,0,149,0.28);
}
