*{
    margin: 5px auto;
    padding: 0px;
}
body{
    background: rgb(115, 125, 255);
    color: white;
    text-align: center;
    padding-top: 80px;
}
#form {
    border: 10px solid silver;
    width: 300px;
    padding-right: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: rgba(51, 53, 255, 0.81);
}