



.day {
    margin-top: -10px;
    padding: 0px;

	span: 2;
	text-align:right;
	font-family:Courier;
	font-size:16px;
    background-color: white;
    border: 1px solid #4b99ff;
}

.empty_day{
    margin-top: -10px;
    span: 2;
    padding-top: 0px;
	height:10px;
	text-align:right;
	font-family: Courier;
	font-size:16px;
	color:#999999;
    background-color: rgba(69, 69, 69, 0.17);
    border: 1px solid #4b99ff;
}

.current_day {
    margin-top: -10px;
    padding-top: 0px;
	height:10px;
	text-align:right;
	font-family:Arial;
	font-size:16px;
	text-shadow:#CCCCCC;
	background-color:#330099;
	color:#FFFFFF;
    border: 1px solid #4b99ff;
}

.format-day {
    background-color: #c5eaff;
}