.image_profile{
    position:relative;
    top:35%;
    width:68%;
    height:20%;
    left:5%;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png"); /*url("Calendar-learn/file/photo/glyphicons-halflings.png");*/
    background-position: 14px 14px;
    background-repeat: no-repeat;
    *margin-right: .3em;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
    *margin-left: 0;
}

.icon-play {
    background-position: -264px -72px;
}

#usp_head_right{
    position:absolute;
    text-align:center;
    right:0;
    border:1px solid #000000;
    width:15%;
    height:70%;
}
#usp_head_left{
    position:relative;
    left:45px;
    width:50%;
    height:100%;
    color: red;
}

.usp_content{
    margin-top:10px;
    margin-left:5%;
}

.usp_table{
    position:relative;
    left:8%;
    width:80%;
    top: 20px;
}
.usp_picture{
    position:relative;
    left: 5px;
    right: 60px;
    top:12;
}
#info{
    text-align: left;
}

.usp_picture{	
	position:relative;
}
.addPhoto{
    position: relative;
    top:19px;
    right: 10%;

}
.div-user{
    background-color:#000000;
    position:relative;
    left:12%;
    top:0;
    bottom: 0;
    width:0.1%;
    height: 100%;


}
.information{
    position: relative;
    left: 65px;
    top: 20px;
}
.listGruop{
    text-decoration: none;
    top: 12px;
    position: relative;
    left: 22px;
}