{% extends "base_user.html" %}
{% block user %}
    <div class="smallhead">
        <div class="head">
            <div id="usp_head_left">
                <h1 style="margin-bottom: 2%;">{{ username }}  Profile Picture</h1>
            </div>
        </div>

        <div class="head2">
            <div class="usp_picture">
                {% if imageprofile %}
                    {% for photo in imageprofile %}
                        <img src="{{ photo.photo.url }}" alt="{{ username }}" height="10%" width="10%" />
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}