{% extends "base_user.html" %}
{% block user %}
    <div class="smallhead">
        <div class="head">
            <div id="usp_head_left">
                <b>{{ username }}  Profile Picture</b>
            </div>
        </div>

        <div class="head2">
            <div class="usp_picture">
                {% if imageprofile %}
                    {% for photo in imageprofile %}
                        <img src="{{ photo.photo.url }}" alt="{{ username }}" height="10%" width="10%" />
                    {% endfor %}
                    <button onclick="parent.location='{% url Calendar.views.add_photo %}'" class="addPhoto">add photo</button>
                {% else %}
                    <button onclick="parent.location='{% url Calendar.views.add_photo %}'">add photo</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}