{% extends "base_user.html" %}
{% block user %}
    <div class="row-fluid">
        <div align="left">
            <h1 style="color: #626fff;">{{ user.username }}'s group</h1>
        </div>
        <hr>
        <div>
            <div align="left">
                {% if has_group %}
                    {% for hg in has_group %}
                        <p align="left">
                            <button style="width: 20%; color: white;" class="btn btn-primary" onclick="parent.location='{% url Calendar.views.group_view hg.name %}';">{{ hg.name }}</button>
                        <p>
                        <hr>
                    {% endfor %}
                    <p align="left">
                        You can create a new group now!
                    </p>
                    <button style="width: 20%; color: white; float: left;" class="btn btn-primary" onclick="parent.location='{% url Calendar.views.create_group %}'">Create group</button>
                {% else %}
                    <div>
                        <p>
                            You don't have any group. You can create a new group now!
                        </p>
                        <button style="width: 20%; color: white;" class="btn btn-primary" onclick="parent.location='{% url Calendar.views.create_group %}'">Create group</button>
                    </div>
                {% endif %}
                </div>
            </div>
    </div>
{% endblock %}