{% extends "base_user.html" %}
{% block user %}
    <div class="smallhead">
        <div class="head">
            <div id="usp_head_left">
                <b>{{ username }}'s  Friends</b>
            </div>

            <div id="usp_head_right">
                <b>
                    {% if is_friend %}
                        Friend
                    {% else %}
                        <a href="/friend/add/?username={{ username }}" style="text-decoration:none">Add Friend </a>
                    {% endif %}
                </b>
            </div>
        </div>

        <div class="head2">
            <!-- show friends -->
            {% if friend %}
                <table width="100%" cellspacing="0">
                    {% for fri in friend %}
                        <tr>
                            <td>
                                <div id="usf_namefr">
                                    {{ fri.user.username }}
                                </div>
                                <div id="usf_pic">
                                    <img src="{{ fri.photo.url }}" alt="{{ username }}" height="10%" width="10%" />
                                </div>
                                <div id="usf_titlepic">
                                    {{ fri.title }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No friend found...
            {% endif %}
        </div>
    </div>
{% endblock %}