{% extends "base_user.html" %}
{% block user %}
<!--
    <div class="smallhead">
        <div class="head">
            <div id="usp_head_left">
                <font size=+3>Personal Information</font>
            </div>
        </div>
        <div class="information">
            <b><i><font size="+1">Basic Information</font></i></b>
            <ul>
                <li>User name: {{ user2.username }}</li>
                <li>First name: {{ info.first_name }}</li>
                <li>Last name: {{ info.last_name }}</li>
            </ul>
            <p><b><i><font size="+1">Contact Information</font></i></b></p>
            <ul><li>Email: {{ user2.email }}</li></ul>
        </div>
    </div>
-->
   <!--- <div>
        <h1>{{ user.username }} profile</h1>
    </div>
    <hr>
    <div style="text-align: left;">
        <h3>User photo</h3>
        <div class="row-fluid" style="border-top: 3px solid rgba(71,71,71,0.30); padding-top: 15px;">
            <div class="span8">
                <p>Change avarta</p>
                <div style="border: 1px solid #4b99ff; width: 300px; padding-top: 10px; padding-left: 10px;">
                    <input class="input-file" id="fileInput" type="file">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row-fluid" style="text-align: left;">
        <div class="span6">
            <h3>Personal information</h3>
            <div class="row-fluid" style="border-top: 3px solid rgba(71,71,71,0.30); padding-top: 15px;">
                <div>
                    <label>Username</label>
                    <input style="height: 30px;" type="text" class="span3" placeholder="{{ user.username }}">
                </div>
                <div>
                    <label>Email address</label>
                    <input style="height: 30px;" type="text" class="span3" placeholder="{{ user.email }}">
                </div>
                <div>
                    <label>First name</label>
                    <input style="height: 30px;" type="text" class="span3" placeholder="{{ user.first_name }}">
                </div>
                <div>
                    <label>Last name</label>
                    <input style="height: 30px;" type="text" class="span3" placeholder="{{ user.last_name }}">
                </div>
                <hr>
                <div>
                    <button class="btn btn-small">Save personal info</button>
                </div>
            </div>
        </div>
        <div class="span6">
            <h3>Password</h3>
            <div class="row-fluid" style="border-top: 3px solid rgba(71,71,71,0.30); padding-top: 15px;">
                <div>
                    <label>New password</label>
                    <input style="height: 30px;" type="text" class="span3">
                </div>
                <div>
                    <label>Confirm password</label>
                    <input style="height: 30px;" type="text" class="span3">
                </div>
                <hr>
                <div>
                    <button class="btn btn-small">Change password</button>
                </div>
            </div>
        </div> --->
    <h1>Infomation</h1>
{#    {% for first,last,birth in information %}#}
    <div style="text-align: left">
        <h3>User name: {{ user.username }}</h3>
        <h3>First name: {{ user.first_name }}</h3>
        <h3>Last name: {{ user.last_name }}</h3>
        <h3>Email name: {{ user.email }}</h3>
        <h3>Birthday: {{ user.birthday }}</h3>
    </div>
{#    {% endfor %}#}
{#        <div>#}
{#            <form method="post" action=".">#}
{#                <table>#}
{#                    {% csrf_token %}#}
{#                    {{ changename.as_table }}#}
{#                </table>#}
{#                <input type="submit" value="Change" class="btn">#}
{#            </form>#}
{#        </div>#}

{% endblock %}