{% extends "base_user.html" %}
{% block user %}
    <div class="smallhead">
        <div class="head">
            <div id="usp_head_left">
                <b><font size="+3">{{ username }}'s  Group</font> </b>
            </div>

            <div id="usp_head_right">
                <b>
                    {% if is_friend %}Friend
                    {% else %}
                        <a href="/friend/add/?username={{ username }}" style="text-decoration:none">Add Friend </a>
                    {% endif %}
                </b>
            </div>
        </div>
        <div class="head2">
            <div id="has_group">
                {% if has_group %}
                    <div id="usg_h_group">
                    <ol>
                        {% for hg in has_group %}
                            <li class="listGruop"title="group {{ hg.name }}">
                                <a href="{% url Calendar.views.group_view hg.name %}" style="text-decoration: none;color: #0000ff;" >
                                    {{ hg.name }}
                                </a></li>
                        {% endfor %}
                    </ol>
                    <button onclick="parent.location='{% url Calendar.views.create_group %}'">Create Group</button>
                {% else %}
                    <div id="usg_h_n_group">
                        <br/>
                        No Group!
                        <button onclick="parent.location='{% url Calendar.views.create_group %}'">Create Group</button>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}