{% extends "base.html" %}
{% block title %}Month Group{% endblock %}
{% block content %}
    <!--
<div class="smallhead">

	<div class="head2">
	<div class="column2_2">
	<div class="d0-table">
	    <table cellpadding="0" cellspacing="0" width="100%" border="1">
    		<tr>
        		<td class="empty">Mon</td>
	        	<td class="empty">Tue</td>
	    	    <td class="empty">Wed</td>
    	    	<td class="empty">Thu</td>
	    	    <td class="empty">Fri</td>
    	    	<td class="empty">Sat</td>
	        	<td class="empty">Sun</td>
		    </tr>
		</table>
	</div>
	<div class="d1-table">
	    {% for week in month_days %}
		<div class="d-table">
		<table cellpadding="0" cellspacing="0" class="l-f-table" border="1">
    	    <tr>
        	{% for day, day_month, entries, current in week %}


        	    <td class= {% if day == 0 or day_month != month %}"empty_day"{% endif %}
            	{% if day != 0 and not current %}"day"{% endif %}
	            {% if day != 0 and current %}"current_day"{% endif %}
    	        {% if day != 0 and day_month == month%}
        	        onClick="parent.location='{% url Calendar.views.group_day group_name year month day %}';"
            	    onMouseOver="this.bgColor='#eeeeee';"
                	onMouseOut="this.bgColor='white';"
                 {% else %} onclick=notMonth();
	            {% endif %} >


				{% if day != 0 %}
				<div class="format-day">
            	    {{ day }}
				</div>
				<div class="m-f-s-table">
				<table cellpadding="0" cellspacing="0" width="100%">
                	{% for entry in entries %}
                    	<tr>
							<td class="cell-format">
		                   	{{ entry.short|safe }}
							</td>
						</tr>
    	            {% endfor %}
				</table>
        	    {% endif %}
				</div>
            	</td>
	        {% endfor %}
    	    </tr>
		</table>
		</div>
    	{% endfor %}
	</div>
	</div>
	</div>
</div>
-->
    <hr>
    <div class="row-fluid">
        <table style="border-bottom: 1px solid rgba(0,0,0,0.55);">
            <tr>
                <td class="span4">
                    <div style="height: 28px;">
                        <form>
                        <input type="hidden" value="{{ group_name }}"name="group_name">
                            <a href= "{% url Calendar.views.group_month group_name year month "prev" %}" title="Prev month">
                                <i class="icon-fast-backward"></i></a>
                            <select class="span2"  onchange="changeMonthGroup(this.form)"name="month">
                                {% for mNum, mName in listMonth_ %}
                                    {% if mNum == month %}
                                        <option value="{{ mNum }}"selected="selected">{{ mName }}</option>
                                    {% else %}
                                        <option value="{{ mNum }}">{{ mName }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <select style="width: 70px;" onchange="changeMonthGroup(this.form)"name="year">
                                {% for y in listYear %}
                                    {% if y == year %}
                                        <option value="{{ y }}" selected="selected">{{ y }}</option>
                                    {% else %}
                                        <option value="{{ y }}">{{ y }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <a href="{% url Calendar.views.group_month group_name year month "next" %}"  title="Next month">
                                <i class="icon-fast-forward"></i></a>
                        </form>
                    </div>
                </td>
                <td class="span4" align="center">
                    {% for mNum, mName in listMonth_ %}{% if month == mNum %}
                        <h1 style="font-size: 30px;color: rgba(0,0,0,0.55);">{{ mName }} {{ year }}</h1>
                    {% endif %}{% endfor %}</td>
                <td class="span4">
                    <div align="right">
                        {% for nyear,nmonth,nday in currentDate %}
                            <button class="btn btn-large btn-inverse" style="width: 30%"
                                    onclick="parent.location='/{{ group_name }}/month/{{ nyear}}/{{ nmonth }}/'">Today</button>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="row-fluid">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr style="background-color: rgba(0,0,0,0.55); color: white; font-size: 18px;">
                <td class="span2" style="text-align: center;">Mon</td>
                <td class="span2" style="text-align: center;">Tue</td>
                <td class="span2" style="text-align: center;">Wed</td>
                <td class="span2" style="text-align: center;">Thu</td>
                <td class="span2" style="text-align: center;">Fri</td>
                <td class="span2" style="text-align: center;">Sat</td>
                <td class="span2" style="text-align: center;">Sun</td>
            </tr>
            </thead>
            <tbody>
            {% for week in month_days %}
                <tr>
                <tr>
                    {% for day, day_month, entries, current in week %}
                        <td {% if day == 0 or day_month != month %}style="background-color: white;"
                            {% elif day != 0 and not current %}style="background-color: rgba(71,71,71,0.30);"
                            {% else %}style="background-color: rgb(37,190,204);"{% endif %}
                                {% if day != 0 %}
                                    onClick="parent.location='{% url Calendar.views.group_day group_name year month day %}';"
                                {% endif %} >
                            {{ day }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for day, day_month, entries, current in week %}
                        <td class="span2">
                            {% for entry in entries %}
                                <button class="btn btn-primary disabled" style="width: 100%">{{ entry.title }}</button>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}