{% extends "base.html" %}

{% block title %}Group|{{ group.name }}{% endblock %}

{% block content %}
<div class="column1">

</div>

<div class="smallhead">
	<div class="head">
		<div id="usp_head_right">
			<b>
			{% if is_mem %}
				Member
			{% else %}
				<a href="/group/join/?group_name={{ group.name }}" style="text-decoration:none">Join</a>
			{% endif %}
			</b>
		</div>
	</div>
	<div class="head2">
		<a href="{% url Calendar.views.group_month group.name 2012 4 %}" style="text-decoration:none">
			View Group Calendar
		</a>

		<h2>Welcome to group {{ group.name }}</h2>
		<b>Creator of this group: </b>{{ group.creator_group }}<br/>
		<b>Description: </b>{{ group.describe }}<br/>
		<b>Created time: </b>{{ group.created }}<br/>
	
		<h3>Group members: </h3>
		<table width="100%" border="1px">
		{% for n, mem, pic in listmem %}
		{% if n|divisibleby:"3" %}
			<tr>
		{% endif %}
				<td>
				{% if pic %}
					<a href="{% url Calendar.views.user_page mem.user_mem.username %}">
						<img src="{{ pic.photo.url }}" height="30%" width="30%" />
					</a>
				{% else %}
				<img src="/media/file/photo/icon_exclaim.gif" alt="{{ username }}" height="30%" width="30%" />									 				{% endif %}
				 </br>
				{{ mem.user_mem.username }} </br>
				Can create event? {{ mem.can_create }} |
				Can modify event? {{ mem.can_modify }}<br/>
				</td>
		{% if n and  n|divisibleby:"3" %}	
		Wrong is here
			</tr>
		{% endif %}
		{% endfor %}
		{% if down < 3 %}
			</tr>
		{% endif %}
		</table>
	</div>
</div>

{% endblock %}