{% extends "base.html" %}
{% block external %}
  <link rel="stylesheet"
    href="/site_media/jquery.autocomplete.css"
    type="text/css" />
  <script type="text/javascript"
    src="/site_media/dimensions.js"></script>
  <script type="text/javascript"
    src="/site_media/jquery.bgiframe.min.js"></script>
  <script type="text/javascript"
    src="/site_media/jquery.autocomplete.js"></script>
  <script type="text/javascript"
    src="/site_media/tag_autocomplete.js"></script>
{% endblock %}
{% block title %}Save Bookmark{% endblock %}
{% block head %}Save Bookmark{% endblock %}
{% block content %}
{% include 'bookmark_save_form.html' %}
{% endblock %}