{% extends "base.html" %}
{% block external %}
    <script type="text/javascript" src="/site_media/bookmark_edit.js"></script>
	<link rel="alternate" title="application/rss+xml" title = "Django Boomarks | Bookmarks for {{ username }}" href = "/feeds/user/{{ username }}"  />
  {% endblock %}
{% block title %}{{username}}{% endblock %}
{% block head %}Bookmarks for {{username}}{% endblock %}
{% block content %}
	{% ifequal user.username username %}
		<a href="/friends/{{ user.username }}/">view your friends</a>
	{% else %}
		{% if is_friend %}
			<a href="/friends/{{ username }}/"> {{ username }} is a friend of yours</a>
		{% else %}
			<a href="/friend/add/?username={{ username }}">add {{ username }} to your friends </a>
		{% endif %}
	- <a href="/friends/{{ username }}/"> view {{ username }} 's friends</a>
	{% endifequal %}
	{% include "bookmark_list.html" %}
{% endblock %}