<html>
	<head>
		<title>Calendar</title>
		<link rel="stylesheet" type="text/css" href="/site_media/style.css">
		<script type="text/javascript" src="/site_media/jquery.js"></script>
		<!-- <script type="text/javascript" src="/site_media/excanvas.js"></script> -->
		<script type="text/javascript" src="/site_media/coolclock.js"></script>
		<script type="text/javascript" src="/site_media/moreskins.js"></script>
	 </head>
	<body>
		<div class="bighead">
			<p style="color:#FFFFFF">Home | Profile | Logout</p>
		</div>
		<div class="column1">
			<p>I have some thing</p></br>
		</div>
		<div class="column3">
			<canvas class="CoolClock:Chrome:75::7.00" id="clock"></canvas>
		</div>
	{% block content %} {% endblock %}
	</body>
</html>