{% extends "base.html" %}
{% block title %}User: {{ username }}{% endblock %}
{% block external %}
    <link rel="stylesheet" type="text/css" href="/site_media/userpage.css/" />
{% endblock %}

{% block content %}
<div class="column1">
    <div class="image_profile">
        {% if not image.photo.url %}
            <img src="/media/file/photo/generic.jpg" alt="{{ username }}" height="100%" width="100%" />
        {% else %}
            <img src="{{ image.photo.url }}" alt="{{ username }}" height="100%" width="100%" />
        {% endif %}
    </div>

    <div class="usp_content">
        <div id="info">
            <a href="{% url Calendar.views.user_page username %}"style="text-decoration: none;color: #0000cd;">Infomation</a>
        </div>

        <div id="info">
            <a href="{% url Calendar.views.image_profile username %}"style="text-decoration: none;color: #0000cd;">
                My photo
            </a>
        </div>

        <div id="info">
            <a href="{% url Calendar.views.user_group username %}"style="text-decoration: none;color: #0000cd;">Group</a>
        </div>

        <div id="info">
            <a href="{% url Calendar.views.user_friend username %}"style="text-decoration: none;color: #0000cd;">Friends</a>
        </div>

        <div id="info">
            <a href=""style="text-decoration: none;color: #0000cd;">Calendar</a>
        </div>
    </div>

</div>
    <div class="div-user"></div>
    {% block user %}{% endblock %}
{% endblock %}
