{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}
    <div class="container-fluid">
	<div align="left">
		<div>
		{% for entry in other_entries %}
			<div class="entry">
			{{ entry.creator }} |
			{{ entry.short|safe }} </br>
			{{ entry.body }} <br/>
			</div></br>
		{% endfor %}
        <div>
		    <h1>My Entries</h1>
        </div>
        <hr>

		<form class="well" action="{% url Calendar.views.day year month day %}" method="post"> {% csrf_token %}
			{{ entries.management_form }}
			{% for entry in entries.forms %}
				{{ entry.id }}
				<div class="entry">

					<div class="input-large">
						<p>Title: {{ entry.title }}</p>
						<p>Snippet: {{ entry.snippet }}</p>
					</div>
					<p>Remind: {{ entry.remind }}</p>
					{{ entry.body }}
				</div>
                <div class="">Delete {{ entry.DELETE }}</div>
			{% endfor %}
            <hr>
			<input class="btn-primary" style="width: 100px;" type="submit" value="Save" />
		</form>
		</div>
	</div>
</div>
{% endblock %}