{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}
    <div class="container-fluid">
	<div align="left">
		<div>
		{% for entry in other_entries %}
			<div class="entry">
			{{ entry.creator }} |
			{{ entry.short|safe }} </br>
			{{ entry.body }} <br/>
			</div></br>
		{% endfor %}
        <div>
		    <h1>My Entries</h1>
        </div>
        <hr>

		<form class="" action="{% url Calendar.views.day year month day %}" method="post"> {% csrf_token %}
			{{ entries.management_form }}
			{% for entry in entries.forms %}
				{{ entry.id }}
{#				<div>#}
{#                    <div class="input-large">#}
{#                        <label>Title</label><br>#}
{#						<p>{{ entry.title }}</p>#}
{#                        <label>Snippet</label>#}
{#						<p>{{ entry.snippet }}</p>#}
{#					</div>#}
{##}
{#					<p>Remind: {{ entry.remind }}</p>#}
{#					{{ entry.body }}#}
{#				</div>#}
{#                <div class="">Delete {{ entry.DELETE }}</div>#}
                <table style="width:100%;text-align: center; border:3px #5f9ea0 solid"border="0">
                    <tr>
                        <td style="padding-top: 5%">Title</td>
                        <td style="padding-top: 5%">
                            {{ entry.title }}
                        </td>
                        <td rowspan="2" style="padding-top: 3%">
                            {{ entry.body }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Snippet
                        </td>
                        <td >
                            {{ entry.snippet }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div style="text-align: left;margin-left: 20%">
                                Remind:&nbsp;&nbsp;{{ entry.remind }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Delete:&nbsp;&nbsp;{{ entry.DELETE }}
                            </div>
                        </td>
                    </tr>
                </table>
			{% endfor %}
            <hr>
			<input class="btn-primary" style="width: 100px;" type="submit" value="Save" />
		</form>
		</div>
	</div>
</div>
{% endblock %}