{% extends "base.html" %}

{% block title %}Home{% endblock %}

<!-- ... -->
{% block content %}
<div class="column1">
	<p>I have some thing</p></br>
</div>

<div class="smallhead">
	<div class="head">
		<table width="48%" cellspacing="2">
		<tr>
		<td id="head_banner_left" 
			onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='white';">
			<a href= "{% url Calendar.views.main year|add:'-3' %}" style="text-decoration:none">
				&lt;&lt; Prev
			</a>
		</td>
		<td class="head_banner_right" onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='white';">
			<a href= "{% url Calendar.views.main year|add:'3' %}" style="text-decoration:none">
				Next &gt;&gt;
			</a>
		</td>
		<td id="center_month">
		</td>
		</tr>
		</table>
	</div>
	<div class="head2">
		<div class="column2">
		{% for year, months in years %}
		<table cellspacing="10" cellpadding="0">
			<tr class="algcent">
				<td colspan="4">{{ year }}</td>
			</tr>
			<tr>
			{% for month in months %}
				<td class=
				{% if month.current %}"current"{% endif %}
				{% if not month.current %}"month"{% endif %}>
					{% if month.entry %}<b>{% endif %}
					<a href="{% url Calendar.views.month year month.n %}" style="text-decoration:none">
						{{ month.name }}
					</a>
					{% if month.entry %}</b>{% endif %}
				</td>
				
				{% if month.n == 4 or month.n == 8 %}</tr>{% endif %}
			{% endfor %}
		</table>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}


