{% extends "base.html" %}

{% block title %}Month{% endblock %}

{% block content %}
    <div class="row-fluid">
        <table style="border-bottom: 1px solid rgba(0,0,0,0.55);">
            <tr>
                <td class="span4">
                    <form>
                        <a href= "{% url Calendar.views.month year month "prev" %}" title="Prev month">
                            <i class="icon-fast-backward"></i></a>
                        <select class="span2"  onchange="changeMonth(this.form)"name="month">
                            {% for mNum, mName in listMonth_ %}
                                {% if mNum == month %}
                                    <option value="{{ mNum }}"selected="selected">{{ mName }}</option>
                                {% else %}
                                    <option value="{{ mNum }}">{{ mName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select style="width: 70px;" onchange="changeMonth(this.form)"name="year">
                            {% for y in listYear %}
                                {% if y == year %}
                                    <option value="{{ y }}" selected="selected">{{ y }}</option>
                                {% else %}
                                    <option value="{{ y }}">{{ y }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <a href= "{% url Calendar.views.month year month "next" %}" title="Prev month">
                            <i class="icon-fast-forward"></i></a>
                    </form>

                </td>
                <td class="span4" align="center">
                    {% for mNum, mName in listMonth_ %}{% if month == mNum %}
                    <h1 style="font-size: 30px;color: rgba(0,0,0,0.55);">{{ mName }} {{ year }}</h1>
                {% endif %}{% endfor %}</td>
                <td class="span4">
                    <div class="btn-group" style="margin: 9px 0; float: right;">
                        {% for nowy,nowm,nowd in currentDate %}
                            <button class="btn" onclick="parent.location='/month/{{ nowy }}/{{ nowm }}'">Today</button>
                        {% endfor %}
                        <button class="btn"><i class="icon-print"></i> Print</button>
                        <button class="btn"><i class="icon-file"></i> Export</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <!--
    <div class="container-fluid">
        <table style="border: 1px solid #4b99ff;">
            <tr style="background-color: #4b99ff; color: white; text-align: center;">
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Mon</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Tue</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Wed</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Thu</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Fri</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Sat</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Sun</td>
            </tr>
        </table>
        {% for week_days, week_events in month_days %}
            <table>
                <tr style="background-color: rgba(197,234,255,0.30);">
                {% for day, day_month, current in week_days %}
                    <td class="span2" style="border-left: 1px solid #4b99ff; text-align: right;" onClick="parent.location='{% url Calendar.views.day year month day %}';">{{ day }}</td>
                {% endfor %}
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" border="1" width="100%" style="height: 42px">
            {% if week_events %}
                {% for week_event in week_events %}
                    <tr>
                        {% for event, cs in week_event %}
                            <td {% if cs > 1 %} colspan="{{ cs }}" {% else %} class = "day"{% endif %}>
                                {% if event %}
                                    {{ event.short|safe }}
                                {% else %}

                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                {% for day, day_month, current in week_days %}
                    <td></td>
                {% endfor %}
                </tr>
            {% endif %}
            </table>
        {% endfor %}
    </div> -->


    <div class="container-fluid">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr style="background-color: rgba(0,0,0,0.55); color: white;">
                    <th class="span2">Mon</th>
                    <th class="span2">Tue</th>
                    <th class="span2">Wed</th>
                    <th class="span2">Thu</th>
                    <th class="span2">Fri</th>
                    <th class="span2">Sat</th>
                    <th class="span2">Sun</th>
                </tr>
            </thead>
            <tbody>
            {% for week_days, week_events in month_days %}
                <tr>
                {% for day, day_month, current in week_days %}
                    <td style="background-color: rgba(71,71,71,0.36);">{{ day }}</td>
                {% endfor %}
                </tr>
                <tr>
                    {% if week_events %}
                        {% for week_event in week_events %}
                            <tr>
                                {% for event, cs in week_event %}
                                    <td style="height: 80px; background-color: white;" {% if cs > 1 %} colspan="{{ cs }}"{% else %}class="span2" {% endif %} >
                                        {% if event %}
                                            {{ event.short|safe }}
                                        {% else %}

                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            {% for day, day_month, current in week_days %}
                                <td style="background-color: white; height: 80px;" onClick="parent.location='{% url Calendar.views.day year month day %}';">

                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}