{% extends "base.html" %}

{% block title %}Month{% endblock %}

{% block content %}
<div class="column1">
	<p>I have some thing</p></br>
	{{ week }}<br/>{{ usercal1 }}
	<ul>
	{% for even, delt, str, g in els1 %}
		<li><p>{{ even }} {{ delt }} {{ str }}	{{ g }}</p></li>
	{% endfor %}
		</ul>
	<br/>
</div>

<div class="smallhead">
	<div class="head">
	<table width="48%" cellspacing="2">
		<tr>
		<td id="head_banner_left" 
			onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='white';">
			<a href= "{% url Calendar.views.month year month "prev" %}" style="text-decoration:none">
				&lt;&lt; Prev
			</a>
		</td>
		<td class="head_banner_right" onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='white';">
			<a href= "{% url Calendar.views.month year month "next" %}" style="text-decoration:none">
				Next &gt;&gt;
			</a>
		</td>
		<td id="center_month">
			<a>{{ mname }} {{ year }}</a>
		</td>
		</tr>
	</table> 
	</div>
	<div class="head2">
		<div class="column2_2">
			<div class="d0-table">
		    	<table cellpadding="0" cellspacing="0" width="100%" border="1">
    				<tr>
	        		<td class="empty">Mon</td>
		        	<td class="empty">Tue</td>
	    		    <td class="empty">Wed</td>
    	    		<td class="empty">Thu</td>
	    	    	<td class="empty">Fri</td>
	    	    	<td class="empty">Sat</td>
		        	<td class="empty">Sun</td>
			    </tr>
		</table>
	</div>
	<div class="d1-table">
		{% for week_days, week_events in month_days %}
			<div class="d-table">
			<table cellpadding="0" cellspacing="0" class="l-f-table" border="1">
    	    	<tr>
	        	{% for day, day_month, current in week_days %}
		
    		        <!-- TD style: empty | day | current; onClick handler and highlight  -->
        		    <td class= {% if day == 0 or day_month != month %}"empty_day"{% endif %}
            		{% if day != 0 and not current %}"day"{% endif %}
		            {% if day != 0 and current %}"current_day"{% endif %}
    		        {% if day != 0 %}
        		        onClick="parent.location='{% url Calendar.views.day year month day %}';"
            		    onMouseOver="this.bgColor='#eeeeee';"
                		onMouseOut="this.bgColor='white';"
		            {% endif %} >
	
    		        <!-- Day number and entry snippets <b>{{ entry.creator }}</b>:  -->
					{% if day != 0 %}
					<div class="format-day">
            		    {{ day }}
					</div>
					{% endif %}
					</td>
		        {% endfor %}
    		    </tr>
			</table>
			</div>
			<div class="d-table">
			<table cellpadding="0" cellspacing="0" border="1" width="100%">
				{% for week_event in week_events %}
				<tr>
					{% for event, cs in week_event %}
					<td {% if cs > 1 %} colspan="{{ cs }}" {% else %} class = "day"{% endif %}>
						{% if event %}
							{{ event.short|safe }}
						{% else %}
							No thing
						{% endif %}
					</td>					
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
			</div>
		{% endfor %}
	</div>
	</div>
	</div>
</div>
{% endblock %}