* {
    margin: 0px;

}
body {
    font: 14px Georgia, serif;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #0000ff;
}
#page-wrap {
    padding-top: 30px;
    height: 400px;
    background-color: white;
}

h3 { margin: 20px 0 10px 0; }


.login-block {
    margin:0 49px 25px 0;
    text-align:center;
    width:360px;
}

.login-block form {
    -moz-border-radius:15px;
    -moz-box-shadow:0 0 10px blue;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0 0 10px blue;
    border:3px solid white;
    padding:10px;
    padding-right: 20px;
    width: 320px;
}

.login-block .active-form {
    border-color: #20aefc;
}

.login-block form p {
    margin:0;
    text-align:right;
}

.login-block label {
    color:#7C6767;
    font-size:14px;
}

.login-block input[type="text"], .login-block input[type="password"] {
    border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
    border-right:1px solid #CCCCCC;
    border-style:solid;
    border-width:1px;
    font-size:15px;
    margin:0 0 15px;
    padding:5px;
    width:200px;
}

.login-block a.button {
    text-decoration:none;
}

.login-block input[type="text"]:focus, .login-block input[type="password"]:focus {
    border-color: #6ae1ff;
}

#logo {

    position: absolute;
    left: 420px;
    top: 10px;
    height: 160px;
}
