.bighead{
    background-color:#0000ff;
    position:relative;
    left:0%;
    top:0%;
    width:100%;
    font-size: 12px;
    height: 30px;
    font-family:Verdana;
    position:relative;
    margin:auto;
    background-position:0 -36px;
}

.l1-bighead {
	 position:absolute;
	 text-align:right;
	 color:#FFFFFF;
	 right:10%;
	 height:100%;
	 width:20%;
	 top:3px;
	 margin:0%;
}
.bighead_font:hover,.bighead_select:hover,.bighead_font_account:hover{
    text-decoration: underline;
}
.bighead_font,.bighead_select,.bighead_font_account{
    text-decoration: none;
    background-position:0 -36px;
    color: white;
    margin:0;
    padding:0;
    background:none;
    margin-right: 15px;
}
.bighead_select{
    background-color: #0000ff;
    border: 0;
    width: 17px;
    left: 16px;
    margin-left: 5px;
}
.bighead_font_account{
    margin-left: -13px;
}
.bighead_select_sub{
    background-color: white;
    color: #000000;
    border-color: red;
    text-align: center;
}
.smallhead {
	position:absolute;
	top:7%;
	left:15%;
	right:15%;
	width:70%;
	height:94%;
}

.algcent{
	text-align:center;
	font-family:Arial;
	font-size:28px;
}

.head {
	position:relative;
	width:99%;
	font-family:Arial;
	height:3%;
	padding:3px;
}

.head2 {
	position:relative;
	width:100%;
}

.column1 {
	position:absolute;
	text-align:center;
	left:0;
	top:10%;
	width:15%;
	margin:0px;
	border-left:0px;
}

.column2 {
	position:relative;
	top:0;
	left:15%;
	width:70%;
	right:15%;
	/*text-align:center;*/
}
.month{
	padding:5px;
	font-family:Arial;
	width:20%;
	height:25%;
	text-align:center;
}
.current{
	border:1px solid #000000;
	width:50;
	height:20;
	padding:5px;
	text-align:center;
	font-family:Geneva;
	font-size:24px;
}

.empty {
    /*
	border:1px solid #000000;
	width:14%;
	height:3%;
	text-align:left;
	font-family:Geneva;
	font-size:13px;*/
    border-left: 1px solid #4b99ff;
    border-bottom: 1px solid #4b99ff;
    height: 65px; background-color: white;
}


.column2_2 {
	position:relative;
	left:0%;
	top:0;
	width:100%;
	text-align:center;
}

.day {
	span: 2;
	height:50px;
	text-align:right;
	font-family:Courier;
	font-size:16px;
}

.empty_day{
	span: 2;
	height:50px;
	text-align:right;
	font-family:Courier;
	font-size:16px;
	color:#999999;
}

.current_day {
	span: 2;
	height:50px;
	text-align:right;
	font-family:Arial;
	font-size:16px;
	text-shadow:#CCCCCC;
	background-color:#330099;
	color:#FFFFFF;
}

#center_month{
	width:60%;
	height:75%;
	text-align:center;
}

#head_banner_left {
	text-align:right;
	height:80%;
	width:20%;
	top: 0%;
}

#head_banner_right {
	text-align:left;
	height:80%;
	width:20%;
	top: 0%;
}

.d0-table {
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
	height:3%;
}

.d1-table {
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
	height:97%;
}
.d-table {
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
	height:20%;
}

.cell-format {
	font-family:Arial;
	font-size:10px;
	text-align:center;
	width:90%;
	height:100%;
	margin:0px;
}

.format-day {
	span: 2;
	top:0;
	text-align:right;
	text-shadow:#CCCCCC;
	height:80px;
	border:1px solid #4b99ff;
}
.m-f-s-table {
	width:100%;
	height:85%;
	text-align:left;
	border-top:1px solid #00FF00;
}

.l-f-table{
	position:relative;
	width:100%;
	height:100%;
}

.c3-reminders {
	position:relative;
	width:100%;
}

#c3-reminders-title {
	text-align:left;
	font-family:Verdana;
	font-size:14px;
}

.c3-r-reminder {
	text-align:left;
	font-family:Arial;
	font-size:13px;
	margin:5px;
	border:1px solid #333333;
}
.column3 {
    position:absolute;
    right:0;
    width:15%;
    height: 95%;
    top:8%;
    text-align:center;
    border-right:0px;
}

/* ?????????????????????????????????? */
.bigHead_img{
    position: absolute;
    left: 0%;
    width: 80%;
}
.VietC{
    position: relative;
    right: 0;
    top: 5%;
    background: orange;
    height: 50%;
    width: 100%;
}
.title_VC{
    position: absolute;
    color: red;
    top:4%;
    right: 12%;
}
.VC-day{
    position: absolute;
    top:13%;
    left: 17%;
}
.VC-day_input{
    position: absolute;
    width: 30px;
    top:12%;
    left: 38%;
}
.VC-month{
    position: absolute;
    top:21%;
    left: 17%;
}
.VC-month_input{
    position: absolute;
    width: 30px;
    top:20%;
    left: 38%;
}
.VC-year{
    position: absolute;
    top:29%;
    left: 17%;
}
.VC-year_input{
    position: absolute;
    width: 40px;
    top:28%;
    left: 38%;
}
.VC_radio_da{
    position: absolute;
    top:37%;
    left: 13%;
}
.VC_radio_da_text{
    position: absolute;
    top:37%;
    left: 25%;
}
.VC_radio_ad{
    position: absolute;
    top:44%;
    left: 13%;
}
.VC_radio_ad_text{
    position: absolute;
    top:44%;
    left: 25%;
}
.convertAL{
    position:absolute;
    top:53%;
    left: 20%;
}
.result{
    position: absolute;
    bottom: 1%;
    width: 90%;
    height: 37%;
    left: 5%;
}
.view{
    position:relative;
    width:50%;
    font-family:Arial;
    height:3%;
    padding:5px;
    left: 9%;
}
.view-pn:hover{
    text-decoration: underline;
}
.view-pn,.view-y{
    text-decoration: none;
    background-position:0 -36px;
    color: #000000;
    margin:0;
    padding:0;
    background:none;
    margin-right: 2px;
}
.TODAY{
    position: relative;
    left: 18%;
    color: green;
    text-decoration-color:red;
}
.TODAY:active{
    color: red;
}
.divSmallCaledar{
    position: relative;
    top:12%;
    left: 1%;
    width: 18%;
}
.CalendarTable{
    border-color: orange;
}
.cellC_norm,.cellC_notM,.cellC_sun,.cellC_sun_cur,.cellC_cur{
    width: 30px;
}
.cellC_notM{
}
.cellC_sun{
    color: white;
    background-color: red;
}
.cellC_sun_cur{
    background-color: #CCCCCC;
}
.cellC_cur{
    background-color: #CCCCCC;
}

.cellC_norm_text,.cellC_notM_text,.cellC_sun_text,.cellC_sun_cur_text,.cellC_cur_text{
    width: 30px;
    text-decoration: none;
    color: #000000;
}
.cellC_notM_text{
    color: #B3B3B3;
}
.cellC_sun_text{
    color: white;
}
.cellC_sun_cur_text{
    color: #000000;
}
.cellC_cur_text{
    background-color: #CCCCCC;
    color: #000000;
}