<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap.min.css">

    <style type="text/css">
        body {
            padding-top: 120px;
            background-color: #0000ff;
        }
        #login-main {
            padding-bottom: 50px;
            background-color: white;
        }

    </style>

</head>

<body>
    <div id="login-main" align="center">
        <div id="logo">
            <img src="/site_media/bootstrap/img/logo.gif" style="margin-top: -100px;" />
        </div>
        <form class="well form-horizontal" action="." method="post" style="background-color: white;padding: 80px; text-align: center;"> {% csrf_token %}
            <input class="input-large" type="text" name="username" placeholder="Username" id="id_username" />
            <input class="input-medium" type="password" name="password" placeholder="Password" id="id_password" />
            <input type="hidden" name="next" value="/" />
            <input class="btn" type="submit" value="Login" style="height: 28px;" />
            {% if form.errors %}
                <p>Username and password didn't match. Try again.</p>
            {% endif %}
        </form>
        <div style="text-align: center; background-color:rgb(238, 238, 238); width: 300px;padding: 20px;" align="center">
            <h2 style="color: rgba(0,0,0,0.55);">Sign up now. It's Free!</h2>
            <a class="btn btn-large" href="/register/">Sign up</a>
        </div>
    </div>
</body>

</html>
