{% extends "base.html" %}
{% block content %}
<div class="head">
	<table width="48%">
		<tr>
			<td class="head_banner">
				<a href= "{% url Calendar.views.month year month "prev" %}">&lt;&lt; Prev</a>
			</td>
			<td class="head_banner">
				<a href= "{% url Calendar.views.month year month "next" %}">Next &gt;&gt;</a>
			</td>
			<td id="center_month">
				<a>{{ mname }} {{ year }}</a>
			</td>
		</tr>
	</table> 
</div>
<div class="head2">
	<div class="column2_2">
    <table width="100%">
    	<tr>
        	<td class="empty">Mon</td>
	        <td class="empty">Tue</td>
    	    <td class="empty">Wed</td>
        	<td class="empty">Thu</td>
	        <td class="empty">Fri</td>
    	    <td class="empty">Sat</td>
        	<td class="empty">Sun</td>
	    </tr>
	</table>
    {% for week in month_days %}
	<table width="100%">
        <tr>
        {% for day, entries, current in week %}

            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty_day"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current_day"{% endif %}
            {% if day != 0 %}
                onClick="parent.location='{% url Calendar.views.day year month day %}';"
                onMouseOver="this.bgColor='#eeeeee';"
                onMouseOut="this.bgColor='white';"
            {% endif %} >

            <!-- Day number and entry snippets <b>{{ entry.creator }}</b>:  -->
            {% if day != 0 %}
                {{ day }}
                {% for entry in entries %}
                    <br />
                   	{{ entry.short|safe }}
                {% endfor %}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
	</table>
    {% endfor %}
	</div>
</div>

{% endblock %}