<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Register success</title>

    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap.min.css">

    <style type="text/css">
        body {
            padding-top: 120px;
            background-color: #0000ff;
        }
    </style>
</head>
<body>
    <div style="background-color: white;" align="center">
        <div id="logo">
            <img src="/site_media/bootstrap/img/logo.gif" style="margin-top: -100px;" />
        </div>
        <div style="padding: 150px;">
            <p style="font-size: 30px; color: #626fff;">Thanks for your registration!</p>
            <p style="font-size: 15px; color: #4b99ff;">Your information has been saved in database.</p>
            <p style="font-size: 16px; color: rgba(0,0,0,0.55);">Now you can <a href="/login/">login to your home page</a></p>
        </div>
    </div>

</body>
</html>