<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Registration</title>

    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/site_media/bootstrap/css/bootstrap.min.css">

    <style type="text/css">
        body {
            padding-top: 120px;
            background-color: #0000ff;
        }
        #login-main {
            padding-bottom: 50px;
            background-color: white;
        }
    </style>

</head>

<body>
    <div id="login-main" style="background-color: white; padding-bottom: 2px;" align="center">
        <div id="logo">
            <img src="/site_media/bootstrap/img/logo.gif" style="margin-top: -100px;" />
        </div>
        <form class="well form-actions" action="." method="post" style="text-align: right; width: 320px;"> {% csrf_token %}
            <p>
                Username:
                <input class="input-large" type="text" name="username" id="id_username" />
            </p>
            <p>
                Password:
                <input class="input-large" type="password" name="password1" id="id_password1" />
            </p>
            <p>
                Password again:
                <input class="input-large" type="password" name="password2" id="id_password2" />
            </p>
            <p>
                Email:
                <input class="input-large" type="text" name="email" id="id_email" />
            </p>
            <p>
                First name:
                <input class="input-large" type="text" name="first_name" id="id_first_name" />
            </p>
            <p>
                Last name:
                <input class="input-large" type="text" name="last_name" id="id_last_name" />
            </p>
            <input class="btn" type="submit" value="Sign up" />
        </form>
    </div>
</body>

</html>




