<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Login Forms</title>

    <link rel='stylesheet' type='text/css' href='/site_media/registration.css' />

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
    <script type='text/javascript' src='/site_media/example.js'></script>
</head>

<body>
<p style="padding-left: 10px; font-size: 40px; color: white;">SE_TEAM3</p>
<div id="page-wrap" align="center">
    <div class="login-block">
        </br></br></br>
        <p style="font-size: 30px;color: rgb(59,84,194);">Thank you for registering</p>
        <p style="font-size: 15px;color: rgba(12,7,13,0.66);">Your information have been saved in database</p>
        <p style="font-size: 15px;color: rgba(12,7,13,0.66);">Now you can either login or back to the mainpage</p>
        </br></br>
        <button style="height: 30px;width: 80px;" onclick="parent.location='/';">Main page</button>
        <button style="height: 30px;width: 80px;" onclick="parent.location='/login/';">Login</button>
    </div>
</div>
<img id="logo" src="/site_media/edmodo-logo.png">

</body>

</html>