{% extends "base_user.html" %}
{% block user %}
    <div class="smallhead">
        <div class="head">
            <div id="usp_head_left">
                <font size=+3>Personal Information</font>
            </div>
        </div>
        <div class="information">
            <b><i><font size="+1">Basic Information</font></i></b>
            <ul>
                <li>User name: {{ user2.username }}</li>
                <li>First name: {{ info.first_name }}</li>
                <li>Last name: {{ info.last_name }}</li>
            </ul>
            <p><b><i><font size="+1">Contact Information</font></i></b></p>
            <ul><li>Email: {{ user2.email }}</li></ul>
        </div>
    </div>
{% endblock %}