.bighead{
	background-color:#000066;
	border:1px solid #000066;
	margin:0px;
	padding-right:15px;
	text-align:right;
	font-family:Verdana;
	font-size:12px;
}

.smallhead {
	margin:0px;
	border:2px solid #3333CC;
	border-radius:20px;
	-moz-border-radius:20px; /* Firefox 3.6 and earlier */
}

.algcent{
	text-align:center;
	font-family:Arial;
	font-size:28px;
}

.head {
	position:absolute;
	width:62%;
	font-family:Arial;
	left:20%;
	padding:3px;
	border:2px solid;
	border-radius:15px;
	-moz-border-radius:15px;
}

.head2 {
	position:relative;
	top:70;
	left:20%;
	right:15%;
	width:63%;
	margin:0px;
	text-align:center;
	padding:0;
}

.column1 {
	position:absolute;
	text-align:center;
	left:0;
	top:15%;
	width:20%;
	margin:0px;
	border-right:3px solid #000000;
	border-left:0px;
}

.column2 {
	position:absolute;
	left:13%;
	top:0;
	width:60%;
	text-align:center;
}

.column3 {
	position:absolute;
	right:0;
	width:15%;
	top:15%;
	text-align:center;
	border-left:3px solid #000000;
	border-right:0px;
}
.month{
	padding:5px;
	font-family:Arial;
	width:50;
	height:20;
	text-align:center;
}
.current{
	border:1px solid #000000;
	width:50;
	height:20;
	padding:5px;
	text-align:center;
	font-family:Geneva;
	font-size:24px;
}

.empty {
	border:1px solid #000000;
	width:105;
	height:20;
	text-align:left;
	font-family:Geneva;
	font-size:13px;
}


.column2_2 {
	position:relative;
	left:5%;
	top:0;
	width:94%;
	text-align:center;
}

.day {
	border:1px solid #00FF00;
	width:14%;
	height:14%;
	text-align:right;
	font-family:Courier;
	font-size:12px;
}

.empty_day{
	border:1px solid #00FF00;
	width:14%;
	height:20%;
	text-align:right;
	font-family:Courier;
	font-size:12px;
}

.current_day {
	border:1px solid #000066;
	width:14%;
	height:20%;
	text-align:right;
	font-family:Arial;
	font-size:12px;
}

#center_month{
	width:60%;
	height:90%;
	text-align:center;
}

.head_banner {
	height:90%;
	width:20%;
}

.d0-table {
	position:absolute;
	width:100%;
	height:7%;
}

.d1-table {
	position:absolute;
	width:100%;
	height:93%;
}