{% load i18n %}
{% load bookmarks_filters %}
<!DOCTYPE html PUBLIC "-W3C//DTDXHTML 1.0 Transitional//En"
"http://w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>Django Bookmarks | {% block title %} {% endblock %} </title>
		<link rel = "stylesheet" href = "/site_media/style.css" type = "text/css"/>
		<script type = "text/javascript" src = "/site_media/jquery.js"></script>
		{% block external %}{% endblock %}
	</head>
	<body>
		<div id = "nav" style="align:right">
			<a href = "/">home</a> |
			<a href="/popular/">popular</a> |
			{% if user.is_authenticated %}
				<a href = "/save/">submit</a> |
				<a href = "/search/">search</a> |
				<a href = "/user/{{ user.username }}/"> {{ user.username }}</a> |
				(<a href = "/logout/">logout</a>)
			{% else %}
				<a href = "/login/">login</a> | 
				<a href = "/register/">register</a>
			{% endif %}
		</div>
		<h1>{% block head %}{% endblock %}</h1>
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% block content %}{% endblock %}	
		
		<div id="footer">
			<form action="/i18n/setlang/" method="post">
				<select name="language">
					{% for lang in LANGUAGES %}		
						<option value="{{ lang.0 }}"> {{ lang.1 }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="GO" />
			</form>
		</div>
	</body>
</html>
