{% extends "base.html" %}
{% block title %}Friends for {{ username }}{% endblock %}
{% block head %}Friends for {{ username }}{% endblock %}
{% block content %}
	<h2>Friends list</h2>
	{% if friends %}
		<ul class="friends">
			{% for friend in friends %}
				<li><a href="/user/{{ friend.username}}/">{{ friend.username }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No friends found.</p>
	{% endif %}
	<a href="/friend/invite/">Invite a friend!</a>
	<h2>Latest Friend Bookmarks</h2>
	{% include "bookmark_list.html" %}
{% endblock %}