*{
    margin: 0px;
    padding: 0px;
}
body {
    padding-top: 120px;
    padding-bottom: 100px;
    background: #3b54c2;
}
#login {
    padding: 60px;
    border-bottom: 8px solid rgba(55, 60, 145, 0.30);
    background-color: white;
}
#logo {

    position: absolute;
    left: 420px;
    top: 10px;
    height: 160px;
}
#signup {
    border: 2px solid silver;
    font-size: 30px;
    padding: 20px;
    width: 270px;
}
