{% extends "base.html" %}

{% block title %}Month{% endblock %}

{% block content %}
    <div class="row-fluid">
        <table style="border-bottom: 1px solid rgba(0,0,0,0.55);">
            <tr>
                <td class="span4">
                    <i class="icon-fast-backward"></i>
                    <select style="width: 55px;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <select style="width: 70px;">
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                    </select>
                    <i class="icon-fast-forward"></i>
                </td>
                <td class="span4" align="center">
                    <h1 style="font-size: 30px;color: rgba(0,0,0,0.55);">May, 2012</h1>
                </td>
                <td class="span4">
                    <div class="btn-group" style="margin: 9px 0; float: right;">
                        <button class="btn"><i class="icon-print"></i> Print</button>
                        <button class="btn"><i class="icon-file"></i> Export</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="container-fluid">
        <table style="border: 1px solid #4b99ff;">
            <tr style="background-color: #4b99ff; color: white; text-align: center;">
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Mon</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Tue</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Wed</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Thu</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Fri</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Sat</td>
                <td class="span2" style="border-left: 1px solid #4b99ff; border-bottom: 1px solid #4b99ff;">Sun</td>
            </tr>
            {% for week_days, week_events in month_days %}
                <tr>
                    {% for day, day_month, current in week_days %}

                        <!-- TD style: empty | day | current; onClick handler and highlight  -->
                        <td class= {% if day == 0 or day_month != month %}"empty_day"{% endif %}
                        {% if day != 0 and not current %}"day"{% endif %}
                        {% if day != 0 and current %}"current_day"{% endif %}
                        {% if day != 0 %}
                            onClick="parent.location='{% url Calendar.views.day year month day %}';"
                            onMouseOver="this.bgColor='#eeeeee';"
                            onMouseOut="this.bgColor='white';"
                        {% endif %} >

                        <!-- Day number and entry snippets <b>{{ entry.creator }}</b>:  -->
                        {% if day != 0 %}
                            <div class="format-day">
                                {{ day }}
                            </div>
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}