{% extends 'test.html' %}
{% block external %}
    <link rel="stylesheet" type="text/css" href="/site_media/general.css">
    <script type="text/javascript" src="/site_media/general.js"></script>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <table style="border-bottom: 1px solid rgba(0,0,0,0.55);">
            <tr>
                <td class="span4">
                    <i class="icon-fast-backward"></i>
                    <select style="width: 70px;">
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                    </select>
                    <i class="icon-fast-forward"></i>
                </td>
                <td class="span4" align="center">
                    <h1 style="font-size: 30px;color: rgba(0,0,0,0.55);">2012</h1>
                </td>
                <td class="span4">
                    <div class="btn-group" style="margin: 9px 0; float: right;">
                        <button class="btn"><i class="icon-print"></i> Print</button>
                        <button class="btn"><i class="icon-file"></i> Export</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div>
        <table style="text-align: center;">
            <thead>
                <tr>
                    <td style="background-color: #4b99ff; border: 1px solid #4b99ff;" colspan="4">
                        <p style="font-size: 20px; padding-top: 10px;color: white;">2012</p>
                    </td>
                </tr>
            </thead>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>January</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>February</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>March</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>April</p>
                </td>
            </tr>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>May</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>June</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>July</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>August</p>
                </td>
            </tr>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>September</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>October</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>November</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>December</p>
                </td>
            </tr>
        </table>

    </div>

    <hr>
    <div>
        <table style="text-align: center;">
            <thead>
            <tr>
                <td style="background-color: #4b99ff; border: 1px solid #4b99ff;" colspan="4">
                    <p style="font-size: 20px; padding-top: 10px;color: white;">2013</p>
                </td>
            </tr>
            </thead>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>January</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>February</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>March</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>April</p>
                </td>
            </tr>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>May</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>June</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>July</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>August</p>
                </td>
            </tr>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>September</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>October</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>November</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>December</p>
                </td>
            </tr>
        </table>

    </div>

    <hr>
    <div>
        <table style="text-align: center;">
            <thead>
            <tr>
                <td style="background-color: #4b99ff; border: 1px solid #4b99ff;" colspan="4">
                    <p style="font-size: 20px; padding-top: 10px;color: white;">2014</p>
                </td>
            </tr>
            </thead>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>January</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>February</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>March</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>April</p>
                </td>
            </tr>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>May</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>June</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>July</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>August</p>
                </td>
            </tr>
            <tr bgcolor="white">
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>September</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>October</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>November</p>
                </td>
                <td style="border: 1px solid #4b99ff;" class="span3">
                    <p>December</p>
                </td>
            </tr>
        </table>

    </div>
{% endblock %}