{% extends 'test.html' %}
{% block content %}
    <div>
        <h1>{{ user.username }} profile</h1>
    </div>
    <hr>
    <div style="text-align: left;">
        <h3>User photo</h3>
        <div class="row-fluid" style="border-top: 3px solid rgba(71,71,71,0.30); padding-top: 15px;">
            <div class="span8">
                <p>Upload photo</p>
                <div style="border: 1px solid #4b99ff; width: 300px; padding-top: 10px; padding-left: 10px;">
                    <input class="input-file" id="fileInput" type="file">
                </div>
            </div>
            <div class="span4">
                <p>Your current photo</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row-fluid" style="text-align: left;">
        <div class="span6">
            <h3>Personal information</h3>
            <div class="row-fluid" style="border-top: 3px solid rgba(71,71,71,0.30); padding-top: 15px;">
                <div>
                <label>Email address</label>
                <input style="height: 30px;" type="text" class="span3">
                </div>
                <div>
                    <label>First name</label>
                    <input style="height: 30px;" type="text" class="span3">
                </div>
                <div>
                    <label>Last name</label>
                    <input style="height: 30px;" type="text" class="span3">
                </div>
                <hr>
                <div>
                    <button class="btn btn-small">Save personal info</button>
                </div>
            </div>
        </div>
        <div class="span6">
            <h3>Password</h3>
            <div class="row-fluid" style="border-top: 3px solid rgba(71,71,71,0.30); padding-top: 15px;">
                <div>
                    <label>New password</label>
                    <input style="height: 30px;" type="text" class="span3">
                </div>
                <div>
                    <label>Confirm password</label>
                    <input style="height: 30px;" type="text" class="span3">
                </div>
                <hr>
                <div>
                    <button class="btn btn-small">Change password</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}